body {
  font-family: "Open Sans", sans-serif;
}

li {
  list-style: none;
}

.project-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}
.heading {
  text-align: center;
  margin-bottom: 113px;
}
.title-section h3 {
  font-size: 28px;
  font-weight: 600;
}

.project {
  width: 25%;
  /* margin: 0 50px; */
  float: left;
}

.project img {
  width: 287px;
  height: auto;
  border-radius: 4px;
  margin-bottom: 24px;
  margin-right: 30px;
}

.web-name {
  font-size: 20px;
}

.web-origin {
  font-size: 18px;
}
