body {
  font-family: "Open Sans", sans-serif;

  margin: 0px;
}

main {
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

li {
  list-style: none;
}

.project-wrapper {
  height: 500px;
  padding-top: 20px;
  padding-bottom: 80px;
  /* background-color: #f7f7f7; */
  text-align: center;
}
.heading {
  text-align: center;
  margin-bottom: 50px;
  font-size: 28px;
}

.heading h2 {
  font-size: 28px;
  font-weight: bold;
}

.project {
  width: 25%;
  /* margin: 0 50px; */
  float: left;
}

.project img {
  width: 250px;
  height: auto;
  border-radius: 4px;
  margin-right: 30px;
  box-shadow: 20px 19px 11px -15px rgba(0, 0, 0, 0.44);
}

.project img:hover {
  opacity: 0.7;
  transition: all 0.5s;
}

.project img:active {
  text-align: center;
  position: fixed;
  top: 60px;
  left: 300px;
  width: 50%;
  opacity: 1;
  z-index: 10;
  transition: all 1s;
  box-shadow: 0px 0px 56px 500px rgba(0, 0, 0, 0.49);
}

.project-details {
  line-height: normal;
  cursor: pointer;
}

.project-details .web-name {
  font-size: 22px;
  display: block;
  margin-bottom: -15px;
}

.project-details .web-origin {
  font-size: 16px;
  display: block;
  opacity: 0.8;
}

.service h1 {
  font-size: 28px;
}

.service p {
  font-size: 18px;
}

.service-logo {
  float: left;
  width: 25%;
  position: relative;
}

.service-logo p {
  position: absolute;
  top: 200px;
  width: 100%;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.service-logo img {
  width: 267px;
  height: 267px;
  border-radius: 4px;
  margin-bottom: 24px;
  margin-right: 30px;
  box-shadow: 20px 19px 11px -15px rgba(0, 0, 0, 0.44);
}

.service-logo img:hover {
  opacity: 0.7;
  transition: all 0.5s;
}

.logos {
  text-align: center;
  margin: 0 auto;
}

/* .service {
  margin-left: auto;
  margin-right: auto;
} */

.title-service {
  padding-left: 85px;
  padding-bottom: 30px;
}

.serviceses {
  height: 504px;
  padding-top: 20px;
  background-color: #f7f7f7;
}
